@model IEnumerable<MovieApp.Entity.MovieModel>
@{
    ViewData["Title"] = "ShowMovieDetails";
}

<h1>ShowMovieDetails</h1>

<hr />

    <table class="table table-bordered bg-primary">
       <thead>
         <tr>
           <th>MovieId</th>
           <th>MovieName</th>
           <th>MovieDescription</th>
           <th>MovieType</th>
           <th>MovieLanguage</th>
           <th>Edit</th>
           <th>Delete</th>
          </tr>
      </thead>
         
    <tbody>
         @foreach(var item in Model)
         {
         <tr>
         <td>@item.MovieId</td>
          <td>@item.MovieName</td>
           <td>@item.MovieDescription</td>
           <td>@item.MovieType</td>
            <td>@item.MovieLanguage</td>
            <td><a asp-action="EditMovieById" asp-controller="Movie" asp-route-UserId=@item.MovieId>Edit</a></td>
            <td><a asp-action="DeleteMovieById" asp-controller="Movie" asp-route-UserId=@item.MovieId>Delete</a></td>
         </tr>
         }
         </tbody>
         </table>