@model IEnumerable<MovieApp.Entity.MovieShowTime>
@{
    ViewData["Title"] = "Index";
}

<h1>Show User Details</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ShowId</th>
            <th>MovieId</th>
            <th>TheatreId</th>
            <th>ShowTime</th>
            <th>Date</th>
            <th>Edit</th>
            <th>delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ShowId</td>
                <td>@item.MovieId</td>
                <td>@item.TheatreId</td>
                <td>@item.ShowTime</td>
                <td>@item.Date</td>
                <td><a asp-action="EditMovieshowTime" asp-route-ShowId=@item.ShowId>Edit</a></td>
                <td><a asp-action="DeleteMovieshowTimeById" asp-route-ShowId=@item.ShowId>Delete</a></td>
            </tr>
        }
    </tbody>
</table>
